:root {
	--highlight-color: #923092;
	--main-color: black;
}

svg {
	width: 400px;
	height: auto;
}

#mainGroup {
	fill: var(--main-color);
}

#colorGroup {
	fill: var(--highlight-color);
}

#verticalBar {
	animation: slideUp 1s ease forwards;
	opacity: 0;
	transform: translateY(100%);
}

@keyframes slideUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#outerRing {
	animation: zoomIn 1s ease forwards;
	transform: scale(2);
	opacity: 0;
	transform-origin: center;
}

@keyframes zoomIn {
	to {
		transform: scale(1);
		opacity: 1;
	}
}

#innerSemicircle {
	animation: spinIn 2.25s ease 0.25s forwards;
	opacity: 0;
	transform: rotate(-720deg);
	transform-origin: center;
}

@keyframes spinIn {
	to {
		opacity: 1;
		transform: rotate(0);
	}
}

#horizontalBar {
	animation: slideRight 1s ease 1.5s forwards;
	opacity: 0;
	transform: translateX(-150%);
}

@keyframes slideRight {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

#topArc {
	animation: sweepClockwise 1s ease 1.5s forwards;
	opacity: 0;
	transform-origin: center;
	transform: rotate(-135deg);
}

@keyframes sweepClockwise {
	to {
		opacity: 1;
		transform: rotate(0);
	}
}

#bottomArc {
	animation: sweepCounterclockwise 1s ease 1.5s forwards;
	opacity: 0;
	transform-origin: center;
	transform: rotate(135deg);
}

@keyframes sweepCounterclockwise {
	to {
		opacity: 1;
		transform: rotate(0);
	}
}
