/* DOCUMENT STYLES */
.bump-down {  /* adjust for fixed nav bar*/
  position: relative;
  top: 71px;
}

h2 {
  text-transform: uppercase;
  line-height: 2em;
}

/* .transparent {
  background: transparent;
} */

/* NAV BAR STYLES */
#nav-logo {
  filter: invert(80%);
  margin-right: 1rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  margin: 0.1rem 0.5rem;
  /* border: rgb(161, 161, 161) solid 1px;
  border-radius: 0.25rem; */
}

.navbar-toggler {
  border: none;
}

/* JUMBOTRON STYLES */
.jumbotron {
  height: 100vh;
  background: url(../assets/dayne-topkin-Fj4aTLlOClE-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron-name {
  font-size: 5rem;
  text-align: center;
}

.lead {
  font-size: 1.5rem;
  text-align: center;
}

/* ABOUT ME SECTION */
#about-me-container {
  justify-content: space-around;
  /* height: auto; */
}

.circle {
  width : 40%;
  min-width: 200px;
  max-width: 350px;
  border: solid grey 2px;
  border-radius: 100%;
  box-shadow: 15px 30px 25px grey;
  margin: 5rem 2.5rem;
}

.about-me-text {
  width: 50%;
  min-width: 320px;
  max-width: 580px;
}
/* END ABOUT ME */

/* PORTFOLIO */
.carousel {
  max-width: 500px;
}

.carousel-caption{
  background-color: rgb(82, 82, 82);
  opacity: 0.8;
  border-radius: 2rem;
}

/* #portfolio-container {
  height: 60vh;
} */




/* FormSpree styling */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
  }
  
  /* border, padding, margin, width */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
  }
  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
  }
  #fs-frm [type="text"],
  #fs-frm [type="email"] {
    width: 100%;
  }
  #fs-frm [type="button"],
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  #fs-frm [type="button"]:focus,
  #fs-frm [type="submit"]:focus,
  #fs-frm [type="reset"]:focus {
    outline: none;
  }
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    margin-bottom: 0;
  }
  #fs-frm select {
    text-transform: none;
  }
  
  #fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
  }
  
  #fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
  }
  
  /* address, locale */
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
  }
  #fs-frm fieldset.locale input[name="city"] {
    width: 52%;
  }
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
  }
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
  }