/* DOCUMENT STYLES */
.bump-down {  /* adjust for fixed nav bar*/
  position: relative;
  top: 71px;
}

/* .transparent {
  background: transparent;
} */

/* NAV BAR STYLES */
#nav-logo {
  filter: invert(10%);
  margin-right: 1rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  margin: 0.1rem 0.5rem;
  /* border: rgb(161, 161, 161) solid 1px;
  border-radius: 0.25rem; */
}

.navbar-toggler {
  border: none;
}

/* JUMBOTRON STYLES */
.jumbotron {
  height: 91vh;
  background: url(../assets/dayne-topkin-Fj4aTLlOClE-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron-name {
  font-size: 5rem;
  text-align: center;
}

.lead {
  font-size: 1.5rem;
  text-align: center;
}

/* ABOUT ME SECTION */
#about-me-container {
  height: 50vh;
  justify-content: space-around;
}

.circle {
  width : 40%;
  min-width: 200px;
  max-width: 350px;
  border: solid grey 2px;
  border-radius: 100%;
  box-shadow: 15px 30px 25px grey;
  margin: 5rem 2.5rem;
}

.about-me-text {
  width: 50%;
  min-width: 320px;
  max-width: 580px;
}